@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 2s linear;
    }
  }
  